@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
:root {
  --black: #333;
  --white: #fff;
}
._dark {
  --black: #fff;
  --white: #333;
}
._dark .main__mask {
  isolation: isolate;
  -webkit-filter: invert(1);
          filter: invert(1);
  mix-blend-mode: multiply;
}
@media (any-hover: hover) {
  ._dark .facebook:hover {
    color: #2a63ff;
  }
}
.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 40px 100px;
  z-index: 999;
}
@media (max-width: 768px) {
  .header {
    padding: 20px 20px;
  }
}
.header__logo {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--black);
  font-size: 32px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.header__rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__buttons {
  position: relative;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-left: 10px;
  overflow: hidden;
}
.header__buttons._active .dayNight-moon {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header__buttons._active .dayNight-sun {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-150%, 50%);
          transform: translate(-150%, 50%);
}
.header__buttons._active .menuToggle-close {
  opacity: 1;
  visibility: visible;
}
.header__buttons._active .menuToggle-open {
  opacity: 0;
  visibility: hidden;
}
.header__buttons ion-icon {
  font-size: 24px;
  color: var(--black);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.dayNight {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.dayNight-moon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, 50%);
          transform: translate(-100%, 50%);
  opacity: 0;
  visibility: hidden;
}
.dayNight-sun {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.menuToggle {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menuToggle-open {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.menuToggle-close {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  mix-blend-mode: screen;
}
.main__title {
  position: relative;
  z-index: 3;
  font-size: 16vw;
  color: #fff;
  text-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}
.main__copyright {
  position: absolute;
  left: 100px;
  bottom: 40px;
  z-index: 4;
  font-weight: 500;
  font-size: 19px;
  color: var(--black);
}
@media (max-width: 550px) {
  .main__copyright {
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    white-space: nowrap;
    bottom: 20px;
  }
}
.main__social {
  position: absolute;
  right: 100px;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 4;
  list-style: none;
}
@media (max-width: 800px) {
  .main__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 550px) {
  .main__social {
    right: 50%;
    -webkit-transform: translate(50%, 0%);
            transform: translate(50%, 0%);
    bottom: 50px;
  }
}
@media (max-width: 800px) {
  .main__social-item {
    margin-left: 15px;
  }
}
.main__social-item a {
  color: var(--black);
  text-decoration: none;
  font-size: 28px;
}
.facebook {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
@media (any-hover: hover) {
  .facebook:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #4e4efc;
  }
}
.twitter {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
@media (any-hover: hover) {
  .twitter:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #4ea8fc;
  }
}
.instagram {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
@media (any-hover: hover) {
  .instagram:hover {
    color: #e0007b;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white);
  z-index: 10;
  -webkit-transform: translate(-125%, 0px);
          transform: translate(-125%, 0px);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.navigation._active {
  -webkit-transform: translate(0%, 0px);
          transform: translate(0%, 0px);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.navigation__list-item {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__list-link {
  margin: 5px 0;
  text-decoration: none;
  color: var(--black);
  padding: 5px 20px;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.navigation__list-link:hover {
  background-color: var(--black);
  color: var(--white);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
